
.main-wrapper {
    display: flex;
}

.main-content {
    display: block;
    margin-top: 4em;
    padding: 15px;
}

.left-panel {
    /* Thank you Flexbox Froggy! This has all the benefits of a flexbox, but
    will automatically fill out the space between the user pfp stuff and the 
    account control stuff*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;

    margin-top: 4em;
    width: 275px;
    background-color: rgb(212, 212, 212);
    height: calc(100vh - 4em);
    border-right: 1px solid black;
}



.profile-picture-content {
    display: flex;
    justify-content: center;
    width: 100%;
}



.profile-picture-frame {
    display: grid;
    margin-top: 20px;
    width: 55%;
    border: 1px solid gray;
    border-radius: 50%;
}

.profile-picture {

    width: 100%;
    
    grid-column: 1;
    grid-row: 1;

    /* Makes image a circle */
    border-radius: 50%;
}





.profile-picture-frame:hover {
    cursor: pointer;
}

.profile-picture-frame:hover > .profile-picture {
    opacity: 0.5;
}

.profile-picture-frame:hover > .file-upload-icon {
    display: block;
}

.file-upload-icon {

    display: none;

    width: 50%;

    grid-column: 1;
    grid-row: 1;

    justify-self: center;
    align-self: center;

    z-index: 1;
}

.profile-name {
    margin: 20px 0 20px 0;
    font-family: NotoSans-Regular;
    font-size: 18px;
    text-align: center;
}

.account-control {
    display: block;
    margin-bottom: 15px;
}

hr {
    margin: 10px 0 10px 0;
}

.section-header {
    margin: 0;
    font-family: NotoSans-Regular;
    font-size: 16px;
    text-align: center;
}

/* Removes the "account control" label and it's <hr>  
when the screen height gets too small */
@media (max-height: 500px) {
    .section-header {
        display: none;
    }
    .section-header-rule {
        display: none;
    }
}

.account-control-btns {
    display: flex;
    justify-content: center;
}

a.btn-option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: white;
    /* No border element. Makes the 'a' button too big if there's any border*/
    border-radius: 4px;
    background-color: rgb(127, 145, 165);
    font-family: NotoSans-Regular;
    width: 110px;
    height: 35px;
}

a.btn-option:hover {
    background-color: rgb(104, 114, 126);
}

a.btn-pad {
    margin-right: 8px;
}

#unit-table {
    font-family: NotoSans-Regular;
}

#total-points {
    font-family: NotoSans-Regular;
}



#unit-table td {
    text-wrap: nowrap;
    padding: 5px 10px 5px 0;
    max-width: 300px;
}

#unit-table td:nth-child(3) {
    text-wrap: wrap;
    min-width: 200px;
}

/* Centers the js buttons horizontally */
#unit-table td:nth-child(5) button {
    margin: auto;
}

/* same width as defined in navbar-init.js */
@media (max-width: 949px) {
    .left-panel {
        width: 200px;
    }
    .profile-name {
        font-size: 16px;
    }
    .section-header {
        font-size: 16px;
    }
    a.btn-option {
        font-size: 9px;
        width: 80px;
    }
    #unit-table {
        font-size: 13px;
    }
    #total-points {
        font-size: 13px;
    }
}