/* Load custom font */
@font-face {
    font-family: NotoSans-Regular;
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
}
.display {
    /* Since the navbar has a fixed height, we just set the top margin to be that height
    to fit the display content */
    margin-top: 4em;

    display: flex;
}
#background-image {
    /* Ensures that no matter what, the background image remains in the same place on the 
    user's screen, even when scrolling. */
    position: fixed;
    /* Helps ensure that the background image stays behind all other elements */
    z-index: -1;
    background-image: url(../images/warhammer-background.jpg);
    width: 100vw;
    height: 100vh;
}
#article {
    /* Take up whatever space is left */
    width: 100%;
    /* Ensures the height of the readable area is at least 100% of the viewport height. If you want
    to only have the height extend however much text is available, remove this line. */
    /* TODO. This needs to be updated to something that by default, doesn't show the scrollbar */
    min-height: 100vh;
    /* 100% is different than 100vh. 100% refers to parent's element height whereas 100vh refers to 
    the viewport height. The viewport height is always either the height of the entire screen or less 
    whereas 100% allows expanding beyond the viewport height to accommodate elements (and then a 
    scrollbar may be introduced to allow viewing of those elements beyond the viewport height). */
    height: 100%;

    padding: 2em;
    background-color: white;
    font-family: NotoSans-Regular;
}

#article img {
    width: 100%;
}

.pad {
    /* As screen width gets bigger, the padding changes by an insignificant amount.
    As the screen gets smaller, the padding becomes much smaller, which means more article content,
    less padding as screen width gets smaller. */
    width: calc(50vw - 200px);
}

a {
    color: #8f2f2f;
}