/* Load custom font */
@font-face {
    font-family: NotoSans-Regular;
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

.form-wrapper {
    /* Align-items and justify-content works best when paired with 
    display: flex. align-items centers vertically. justify-content
    centers horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 4em;
    height: 60vh;

    /* border: 3px solid red; */
}

.form-group {
    display: block;

    /* border: 3px solid blue; */
}

.title {
    font-size: 26px;
    font-family: NotoSans-Regular;
    margin: 0;
    padding: 0;
}

.instruct {
    font-size: 14px;
    font-family: NotoSans-Regular;
}

p.instruct > a {
    color: blue;
}

p.instruct > a:visited {
    color: blue;
}


label {
    display: block;
    margin-bottom: 5px;

    font-size: 15px;
    font-family: NotoSans-Regular;
}

.form-input {
    color: #4b4f53;
    font-size: 17px;
    width: 270px;
    height: 35px;
    border: 1px solid #b8bfc5;
    border-radius: 4px;
    padding: 0 25px 0 8px;
}

.form-input:focus {
    border: 1px solid rgb(123, 171, 226);
    box-shadow: 0 0 2px 3px rgba(50, 140, 243, 0.5);
    outline: none;
}

.form-input:active {
    border: 1px solid rgb(123, 171, 226);
    box-shadow: 0 0 2px 3px rgba(50, 140, 243, 0.5);
}

input.btn-primary {
    font-size: 14px;
    color: white;
    border: 1px solid rgb(50, 140, 243);
    border-radius: 4px;
    background-color: rgb(50, 140, 243);
    font-family: NotoSans-Regular;
    width: 70px;
    height: 35px;
    margin-right: 8px;
}

input.btn-primary:hover {
    border: rgb(46, 116, 197);
    background-color: rgb(46, 116, 197);
}

input.btn-secondary {
    font-size: 14px;
    color: white;
    border: 1px solid rgb(127, 145, 165);
    border-radius: 4px;
    background-color: rgb(127, 145, 165);
    font-family: NotoSans-Regular;
    width: 70px;
    height: 35px;
    margin-right: 8px;
}

a.btn-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    /* No border element. Makes the 'a' button too big if there's any border*/
    border-radius: 4px;
    background-color: rgb(127, 145, 165);
    font-family: NotoSans-Regular;
    width: 70px;
    height: 35px;
    margin-right: 8px;
}


a.btn-secondary:hover {
    background-color: rgb(104, 114, 126);
}

input.btn-secondary:hover {
    border: rgb(104, 114, 126);
    background-color: rgb(104, 114, 126);
}

.invalid-input {
    background-image: url("../images/invalid-input-symbol.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: calc(100% - 4px);
    padding: 0 25px 0 8px;
    border: 1px solid red;
}

.invalid-input:focus {
    border: 1px solid red;
    box-shadow: 0 0 4px 1px rgb(231, 46, 21);
    outline: none;
}

.invalid-input:active {
    border: 1px solid red;
    box-shadow: 0 0 4px 1px rgb(231, 46, 21);
}

.invalid-feedback {
    font-family: NotoSans-Regular;
    font-size: 12px;
    color: red;
    padding: 0;
    margin: 0;
    
    margin-bottom: 10px;
}
