/* Load custom font */
@font-face {
    font-family: WHFont;
    src: url("../fonts/kvc-warhammer-base.otf");
}

@font-face {
    font-family: NotoSans-Regular;
    src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

/* Removes the ever-so-slight padding on the body */
body {
    margin: 0;
    padding: 0;
}

/* https://stackoverflow.com/questions/114543/how-can-i-horizontally-center-an-element */
#navbar {

    /* Having these two enabled will always fix the navbar to the top of the screen. 
    Very useful if we are scrolling downwards */
    position: fixed;
    top: 0;

    /* navbar takes up entire width of viewport */
    width: 100%;
    /* Sets an arbitrary fixed height for the navbar, this helps calculate the offset of the
    main reading content, for example. */
    height: 4em; 
    display: flex;
    /* Centers items vertically */
    align-items: center;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
}

@media (max-width: 1060px) {
    #search-bar {
        position: absolute;
        top: 4.6em;
        left: calc(50% - (245px/2));
    }
    .search-dropdown-content {
        top: 6.9em;
        left: calc(50% - (245px/2));
    }
    #alt-search-btn {
        cursor: pointer;
    }
}

@media (max-width: 809px) {
    .alt-dropdown {
        display: flex;
    }
    #warhammer-logo-link{
        display: none;
    }
    #alt-warhammer-logo-link {
        display: flex;
    }
    .inner2 {
        justify-content: space-around;
        /* Equal to the size of the alt warhammer logo for true center */
        margin-left: 60px;
    }
    .inner2 ul {
        display: none;
    }
}

@media (min-width: 810px) {
    .alt-dropdown {
        display: none;
    }
    #warhammer-logo-link{
        display: block;
    }
    #alt-warhammer-logo-link {
        display: none;
    }
    .inner2 ul {
        display: flex;
    }
}

#search-suggestions {
}

.search-dropdown-content {
    font-family: NotoSans-Regular;
    font-size: 14px;
    display: none;
    flex-direction: column;
    justify-content: left;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
    border-width: 0px 2px 2px 2px;
    border-color: black;
    border-style: solid;
    position: absolute;
    width: 245px;
    z-index: 1;
}

.search-dropdown-content a {
    padding: 15px 5px 15px 5px;
    text-decoration: none;
    color: white;
}

.search-dropdown-content a:hover {
    background-color: #8f2f2f;
}

/* ALT NAVBAR START */

#three-line-menu-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}
.three-line-icon {
    width: 35px;
}
#three-line-dropdown {
    position: fixed;
    left: 0;
    flex-direction: column;
    
}
.alt-warhammer-logo {
    width: 60px;
}
#alt-search-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}
.alt-search-icon {
    width: 40px;
}
.alt-account-icon {
    width: 3em;

    /* Makes image a circle */
    border-radius: 50%;
}

.alt-dropdown-content {
    display: none;
    position: absolute;
    top: 4em;
    left: 0;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.alt-dropdown-content a {
    color: white;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: WHFont;
    cursor: pointer;
}
.alt-dropdown-content a:hover {
    background-color: #8f2f2f;
}
.alt-search-suggestions {   
}

.alt-search-dropdown-content {
    font-family: NotoSans-Regular;
    font-size: 14px;
    display: none;
    flex-direction: column;
    justify-content: left;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
    border-width: 0px 2px 2px 2px;
    border-color: black;
    border-style: solid;
    position: absolute;
    top: 7.7em;
    left: calc(50% - (245px/2));
    width: 245px;
    z-index: 1;
}
.alt-search-dropdown-content a {
    padding: 15px 5px 15px 5px;
    text-decoration: none;
    color: white;
}

.alt-search-dropdown-content a:hover {
    background-color: #8f2f2f;
}

/* ALT NAVBAR END */


.inner1 {  
    /* border: 0.05em solid black; */
    padding: 0 0 0 0.5em;
}

.warhammer-logo {
    width: 60px;
}

.inner2 {
    display: flex;
    width: 100%;
    
    /* border: 0.05em solid blue; */
}

.inner2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.inner2 li {
    /* Stacks the list horizontally */
    float: left;
    width: 120px;
    border-right: 3px solid black;
    
}

.inner2 li:last-child {
    border-right: none;
}


/* https://css-tricks.com/fun-viewport-units/ */
.inner2 li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px; /* similar calc(8px + 1vw) */
    font-family: WHFont;
    cursor: pointer;
    /* border: 0.05em solid purple; */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #8f2f2f;
}

.nav-link {
    text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* The '#inner2 li a' properties will take precedence over the styling of these elements
unless we specify this directly from #inner2. */
.inner2 li div a {
    float: none;
}
  
/* INNER 3 BELOW */

#search-suggestions-dropdown {
}

#search-bar {
    color: black;
    font-family: NotoSans-Regular;
    padding: 5px 0 5px 5px;
    border: 2px solid black;
    outline: none;
    font-size: 14px;
    width: 240px;
}

#search-bar:focus {
    
}

.inner4 {
    padding-right: 0.5em;
}



.search-icon {
    width: 30px;
}

.inner5 {  
    border-left: 3px solid black;
    padding: 0 0.5em 0 0.5em;
    /* border: 0.05em solid black;  */
}

/* Account Icon has a fixed size. This is to ensure that the navbar always has a fixed height. */
.account-icon {
    width: 3em;

    /* Makes image a circle */
    border-radius: 50%;
}

