#points-list {
    list-style-type: none;
    color: darkred;
}

.unit-type-list {
    list-style-type: square;
    color: black;
}

.unit-type-list li {
    margin: 10px 0;
}

.notify-text {
    margin-left: 5px;
    display: inline;
    font-size: 12px;
}