/* Load custom font */
@font-face {
    font-family: WHFont;
    src: url("../fonts/kvc-warhammer-base.otf");
}

/* Removes the ever-so-slight padding on the body */
body {
    margin: 0;
    padding: 0;
}

/* https://stackoverflow.com/questions/114543/how-can-i-horizontally-center-an-element */
#navbar {

    /* Having these two enabled will always fix the navbar to the top of the screen. 
    Very useful if we are scrolling downwards */
    position: fixed;
    top: 0;

    /* navbar takes up entire width of viewport */
    width: 100%;
    /* Sets an arbitrary fixed height for the navbar, this helps calculate the offset of the
    main reading content, for example. */
    height: 4em; 
    display: flex;
    /* Centers items vertically */
    align-items: center;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
    /* border: 0.05em solid red; */
}

#inner1 {  
    /* border: 0.05em solid black; */
    padding: 0 0 0 0.5em;
}

#warhammer-logo {
    width: 4vw;
}

/* Sets minimum warhammer-logo size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (max-width: 80em) {
    #warhammer-logo {
        width: 3.2em;
    }
}

/* Sets max warhammer-logo size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (min-width: 100em) {
    #warhammer-logo {
        width: 4em;
    }
}

#inner2 {
    width: 100%;
    
    /* border: 0.05em solid blue; */
}

#inner2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
#inner2 li {
    /* Stacks the list horizontally */
    float: left;
    width: 10vw;
    border-right: 3px solid black;
    
}

/* Sets min padding width for the list items. This max-width is tied with css style property
'li a' and its '@media max-width' within this css. */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (max-width: 70em) {
    #inner2 li {
        width: 7em;
    }
}

/* Sets max padding width for the list items. This min-width is tied with css style property
'li a' and its '@media min-width' within this css. */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (min-width: 100em) {
    #inner2 li {
        width: 10em;
    }
}

#inner2 li:last-child {
    border-right: none;
}


/* https://css-tricks.com/fun-viewport-units/ */
#inner2 li a, #inner2 li button {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: calc(0.1em + 1vw); /* similar calc(8px + 1vw) */
    font-family: WHFont;
    
    /* border: 0.05em solid purple; */
}

/* Sets minimum font size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (max-width: 70em) {
    #inner2 li a, #inner2 li button {
      font-size: 0.8em;
    }
}

/* Sets max font size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (min-width: 90em) {
    #inner2 li a, #inner2 li button {
      font-size: 1em;
    }
}

/* Used to stylize the vertical dropdown buttons */
#inner2 li button {
    /* https://stackoverflow.com/questions/3170772/what-does-auto-do-in-margin-0-auto#:~:text=8-,margin%3A0%20auto%3B,then%20margin%3Aauto%20works%20perfectly. */
    margin: 0 auto;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    /* border: 3px solid blue; */
    cursor: pointer;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, rgb(139, 0, 0), rgb(133, 0, 0));
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #8f2f2f;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* The '#inner2 li a' properties will take precedence over the styling of these elements
unless we specify this directly from #inner2. */
#inner2 li div a {
    float: none;
    text-align: left;
}
  

/* I use px here because em seems to scale weirdly */
#inner3 input[type=text] {
    padding: 5px 0 5px 0;
    border: none;
    font-size: calc(0.1em + 1vw);
    width: 230px;

    /* border: 0.05em solid salmon; */
}

/* Sets minimum font size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (max-width: 70em) {
    #inner3 input[type=text] {
      font-size: 0.8em;
    }
}

/* Sets max font size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (min-width: 90em) {
    #inner3 input[type=text] {
      font-size: 1em;
    }
}

#inner4 {
    padding-right: 0.5em;

    /* border: 0.05em solid darkcyan; */
}

#search-icon {
    width: 2vw;
}

/* Sets minimum search-icon size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (max-width: 90em) {
    #search-icon {
        width: 1.7em;
    }
}

/* Sets max search-icon size */
/* IDK how to calculate the best value for smoothest scaling caps. These values are eye-balled. */
@media (min-width: 100em) {
    #search-icon {
        width: 2em;
    }
}

#inner5 {  
    border-left: 3px solid black;
    padding: 0 0.5em 0 0.5em;

    /* border: 0.05em solid black; */
}

/* Account Icon has a fixed size */
#account-icon {
    width: 3em;
}